{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        
        {% for gallery in galleries %}

     <form>
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.Title }}</td>
                <td>{{ gallery.Content }}</td>             
               
                <td>
                    <a href="{{ path('app_gallery_show', {'id': gallery.id}) }}">show</a>
                    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        </form>


        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
  
        </tbody>
    </table>

    <a href="{{ path('app_gallery_new') }}">Create new</a>

   {% block section %}

<section id="gallery">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <img src="/assets/img/upload/001.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

 <div class="card-body">
        <img src="/assets/img/upload/001.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

         <div class="card-body">
        <img src="/assets/img/upload/001.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

         <div class="card-body">
        <img src="/assets/img/upload/001.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

         <div class="card-body">
        <img src="/assets/img/upload/001.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
</section>
{% endblock %}

{% endblock %}


